---
# Kustomization for ArgoCD additional resources
# Note: Main installation is via Helm chart
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - ingressroute.yaml
