---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: velero-credentials
  namespace: velero
spec:
  encryptedData:
    cloud: AgAGXEwiLELlgSsuPRJufumb9I8rT77AvMm/m/ssCJnZdDNeitz5V6FRIJjYrWXUUsTH2uwZXjl9i0RPcILVNFwMJq5TFSRiKsBhFG6TWcULCjWFyof8KcToE7ihUDG3nLVgaJliX+SOLMnzmpygHdlRC5z5zeCpIBi7nlAy9Bd3MNM8MiLfBbTPqYm980gpYV0QHDybTMUE3Hfoqx+rEgJsB4LXwGGCuRvvqAlLa7kXG55ISADU6AAX+EuXMy3Mf5LchPbPEsEnzccsf1sEiMZ5JRG7okjnQva6+HAKUYTLrYu0T9GjK4Ca50B489rYKivhORUPvYxCBma/ZnfkMDLRa0SmyryfquLKUe+7JVImAUG4lLJ82axHTkUXx5/IaA/8gSUBI5RiD0dMlQpolsuLj9tic5naX/QltnRv2Sm2j9pg5SwU8dGcJMFWWfyqdG6a2BFV1qJ75DEXDmlAgn8yEoNHtwKLmkon0iB7AD83ifjn5G+24W6iM6OyqAkbrHcN1MPnGpqESiSaN38jA9JfyIxYCubDB7xvJ8fLoSNlOcR1Ik7EkermyXyF0ETGd3gqTaSJeu1yCgk5EBC7Vh3OPd+ekk+YjHJ9bztrppLenQw62Cv9vcC9hIAvXM/lQDJ6KbT8wslEXhHSPgVsVxnrbzJVteeWDMUjPGuYNmZqhUbEPdesBJtXOPoeLZyX8nT6jlPmJ4HdfdqYhvEtFI5Is3dTNxSxEi7EgBqRT2iwVAstqXs1bGcGYc+gWu4hL6thGPEBvHmTvmJ3ZZvqF4OU2ivD6zmABwmkfxqKfA3bjrW9kJeOf7QAo3TB1bL9JQlLz52B3SonC8eLiFrizlIMEWcnuERBvT3R/5UnQfwwUUbxnzgdjsttXzxMp7wp
  template:
    metadata:
      name: velero-credentials
      namespace: velero
