---
# etcd Client Service
# Load-balanced endpoint for external-dns and CoreDNS to access etcd cluster
#
# DNS Name: coredns-etcd-client.coredns-local.svc.cluster.local
# External-DNS and CoreDNS connect to this service

apiVersion: v1
kind: Service
metadata:
  name: coredns-etcd-client
  namespace: coredns-local
  labels:
    app: coredns-etcd
    app.kubernetes.io/name: etcd
    app.kubernetes.io/component: database
spec:
  type: ClusterIP
  selector:
    app: coredns-etcd
  ports:
  - port: 2379
    targetPort: 2379
    protocol: TCP
    name: client
